*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-it li {
    background-color: rgb(162, 243, 162);
    color: rgb(0, 0, 0);
    margin:10px;
    padding: 10px;
    border-radius: 20px;
}
.list-it li:hover{
    background-color: rgb(74, 174, 74);
    color: white;
}





}
.card img{
    height: 200px;
}

.nav-item a:hover{
    background-color: antiquewhite;
    border-radius: 15px;
}

.navbar{
    background-color: rgb(234, 234, 234);
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 147, 34);

}
