*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    padding: 5px;
    width: 400px;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(88, 170, 241);
    border-radius: 20px;
   
}



.list:hover{
    background-color: rgb(174, 100, 100);

}
.card img{
    height: 200px;
}

.nav-item a:hover{
    background-color: antiquewhite;
    border-radius: 15px;
}

.navbar{
    background-color: rgb(234, 234, 234);
}

.navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 147, 34);
}